// 头部
.header {
    position: relative;
    overflow: hidden;
    height: $header-height;
    // 默认就是渠道经理、游客
    @include background-gradient($bgc-manager-gradual-left, $bgc-manager-gradual-right);

    &.header-light {
        background: white;

        h1,
        a {
            color: $color-common;
        }
    }

    menu {
        position: absolute;
        top: 0;
        height: $header-height;
        line-height: $header-height;

        a {
            display: block;
            padding: {
                left: .3rem;
                right: .3rem;
            }
            color: white;
        }

        &.menu-left {
            left: 0;
        }
        &.menu-right {
            right: 0;
        }
    }

    h1 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        line-height: $header-height;
        font-size: .34rem;
        text-align: center;
        color: white;
    }

    // 返回按钮
    .btn-back {
        @include icon(.21rem, .41rem, "arrow-left.png");
    }

    .btn-home {
        width: .5rem;
        line-height: normal;
        text-align: center;

        @include icon(.42rem, .42rem, "home.png");
        &:before {
            margin: {
                top: .04rem;
                bottom: .02rem;
            }
        }

        &:after {
            font-size: .2rem;
            content: "首页";
        }
    }
}


