// 背景颜色
$bgc-base                  : #f3f3f3;
$bgc-popup                 : white;
$bgc-layer                 : rgba(0,0,0,.4);


// 字体大小
$size-super                : .4rem;
$size-large                : .34rem;
$size-base                 : .28rem;
$size-small                : .24rem;
$size-tiny                 : .22rem;


// 字体颜色
$color-strong              : #333;
$color-common              : #666;
$color-sub                 : #999;


// Vendor(厂商)
$bgc-vendor-gradual-left   : #1d89ee;
$bgc-vendor-gradual-right  : #51cdfb;
$color-vendor-primary      : #40b7f7;
$color-vendor-active       : #f9cc2f;


// Manager(渠道经理、游客)
$bgc-manager-gradual-left  : #ff7c1c;
$bgc-manager-gradual-right : #ffc149;
$color-manager-primary     : #ffc149;
$color-manager-active      : #fe6f21;


// Body
$body-bgc                  : $bgc-base;


// Header
$header-height             : .88rem;


// 图片路径
$IMG-URL: '/src/assets/images/icon/';


