<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录 - 招商快车</title>
</head>
<body>
    <header class="header header-light">
        <h1>登录</h1>
        <menu class="menu-left">
            <li><a class="btn-back" href="javascript:;"></a></li>
        </menu>
        <menu class="menu-right">
            <li>
                <a class="btn-home" href="/index.html"></a>
            </li>
        </menu>
    </header>

    <form action="javascript:;"></form>
</body>
</html>

